<h1>Editing Booking</h1>

<%= render "form", booking: @booking %>

<br>

<div class="d-flex" style="margin: 0;"> 
  <%= button_to "Destroy", @booking, method: :delete, class:"btn btn-outline-success" %>&nbsp;&nbsp;
  <%= button_to "Back", {:controller => "bookings", :action => "index" } , :method=>:get, class:"btn btn-outline-success"%>
</div>
