<h1 class="text-center">New Booking</h1>

<%= render "form", booking: @booking %>

<br>

<div>
  <%= button_to "Back", {:controller => "bookings", :action => "index" } , :method=>:get, class:"btn btn-outline-success"%>
</div>